{{> navbar }}

<div class="jumbotron">
    <div style="height: 150px"></div>
    <a class="btn btn-info btn-lg text-white" id="scrape-btn" role="button">Scrape New Articles</a>
    <br>
</div>

<div class="container">
    <div id="articles" class="card-columns"></div>
</div>

{{> save-modal id="saveSuccess" message="Article has been saved!"}}
{{> save-modal id="saveFail" message="Failed to save article!"}}

{{> jquery }}
<script src="/assets/js/scrape.js"></script>