body {
    background-image: url(/assets/img/background.svg);
    background-size: 100%;
    text-align: center;
}

img {
    margin-bottom: 10px;
}

a {
    color: black;
}

.jumbotron {
    margin-bottom: 15px;
    background-image: url(/assets/img/jumbotron.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 0px;
}

.card-columns {
    column-count: 2;
}

#clear-btn {
    margin-bottom: 15px;
}